/* Variables */
:root {
  --ml-color:black;
  --ml-select:0px 0px 5px red, 1px 1px 1px black;
  --accent-shadow:0px 0px 15px black;
  --bg-vignette:0 0 25px black inset;
}



/* Header Styles */
.header {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}

/* Hero Card */
.hero-card {
  background-color: rgba(22, 22, 22, 0.75);
  box-shadow: var(--bg-vignette);
  margin: 0;
  padding: 2%;
  border: groove 3px;
  border-radius: 10%;
  width: 100%;
  aspect-ratio:inherit;
  text-align: center;
  overflow: hidden;
}
/* Hero Image */
.h-img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 50%;
  height: 50%;
  box-shadow: var(--accent-shadow);
}
/* Hero Name */
.h-name {
    font-family: "Dancing Script", cursive;
    font-size: xx-large;
    letter-spacing: 5px;
    color: white;
    text-shadow: var(--accent-shadow);
  }

/* Social Media Link Styles */
.media-links {
  display: flex;
  justify-content: center;
}
.media-links i {
  font-size: x-large;
  color: black;
  text-align: center;
  padding: 5px;
    &:hover {
    color: red;
    text-shadow: var(--ml-select);
  }
}

/* General Styles */
body {
  background: radial-gradient(circle, black, white, black) no-repeat center;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body, html {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-shadow:var(--bg-vignette)
}
.fine-print { /* Disclaimer at bottom */
  max-width: 15vw;
  max-height: 20vw;
  font-size: x-small;
  flex-wrap: wrap;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
}

/* Media Queries */ 
@media screen and (max-width: 900px) and (min-height: 600px) {
  .header {width: 85%;}
}
