/* Title Styles */
.t-sect {
  background-image: url("");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.t-img, .t-name {
  text-align: center;
}
.t-img img {
  width: 25%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.t-name h1 {
  font-family: "Dancing Script", cursive;
  font-size: xx-large;
  letter-spacing: 5px;
}




/* Navigation Bar Styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  width: 75vh;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.267);
}
.nav-bar * {
  padding: 5px;
  color: white;
  &:hover {
    color: black;
  }
}
.nav-link {
  font-family: Orbitron, monospace;
  text-decoration: none;
  letter-spacing: 2px;
}

/* Social Media Link Styles */
.media-links {
  display: flex;
  justify-content: center;
}
.media-links * {
  color: black;
  text-align: center;
  padding: 5px;
  &:hover {
    color: red;
  }
}

/* General Styles */
body {
  margin-top: 25vh;
  justify-content: center;
  align-items: center;
}