/* Header Styles */
.hed {
  background-image: url("");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.pro-img, .pro-name {
  text-align: center;
}
.pro-img img {
  width: 500px;
  max-width: 50vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.pro-name h1 {
  font-family: "Dancing Script", cursive;
  font-size: xx-large;
  letter-spacing: 5px;
}

/* Navigation Bar Styles */
.nav-bar {
  border: solid;
  max-width: 75vw;
  max-height: fit-content;
  overflow: hidden;
  position: sticky;
  top: 0;
  margin: auto;
    & * {
    color: white;
    }
  }

.nav-link {
  font-family: Orbitron, monospace;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
}

/* Expandable Navigation Menu */
.nav-pop {
  margin: 0;
  padding: 0;
  border-radius: 10%;
  max-height: 10vw;
  max-width: 10vw;
  display: none;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  list-style-type: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.nav-pop li {
  text-align: center;
  color: white;
  &:hover {
    background-color: black;
  }
}

/* Social Media Link Styles */
.media-links {
  display: flex;
  justify-content: center;
}
.media-links * {
  color: black;
  text-align: center;
  padding: 5px;
  &:hover {
    color: red;
  }
}

/* General Styles */
body {
  margin-top: 25vh;
  justify-content: center;
  align-items: center;
}

/* Media Queries */



.fine-print {
  max-width: 15vw;
  max-height: 20vw;
  font-size: x-small;
  flex-wrap: wrap;
  position: fixed;
  bottom: 5px;
  right: 5px;
}